@import './variables';

.coming-soon {
  text-align: center;
  display: flex;
  flex-direction: column;

  h2,h4 {
    // opacity: 0;

    margin: 1.6em;

    // text-transform: uppercase;
    font-size: 12pt;
    // font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: $potus-grey;
    flex-grow: 1;
  }
}
